<section class="jumbotron text-center">
    <div class="container">

        {{#unless queryCategory}}
        {{#unless queryType}}
        <h1>All Listings</h1>
        <p class="lead text-muted">A clean list of all the listings we currently have online. No filters. Just all of them at once.</p>
        {{/unless}}
        {{/unless}}

        {{#if queryCategory}}
        <h1>{{queryCategory}}</h1>
        <p class="lead text-muted">{{queryCategory}} it's a very interesting category. What do we have in there?</p>
        {{/if}}
        {{#if queryType}}
        <h1>{{queryType}}</h1>
        {{#if wantMessage}}
        <p class="lead text-muted">{{wantMessage}}</p>
        {{/if}}
        {{#if offerMessage}}
        <p class="lead text-muted">{{offerMessage}}</p>
        {{/if}}
        {{/if}}



        <p>
            <a href="/listings/add" class="btn btn-primary my-2">Add a new listing here!</a>
            <a href="/" class="btn btn-secondary my-2">Back to the homepage</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            {{#unless emptyMessage}}
            {{#each listings}}

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <figure class="figure">
                        <img src="{{this.imgPath}}" class="card-img-top figure-img img-fluid rounded" style="width : 100%;
                        height: 15vw; 
                        object-fit: cover;
                        {{#if this.givenAway}}
                         filter: grayscale(100%);
                        {{/if}}" 
                        alt="{{this.name}}">
                        <figcaption class="figure-caption text-right pr-3 mr-3 my-2">{{this.listingType}}</figcaption>
                    </figure>

                    <div class="card-body">
                        <p class="card-text">{{this.name}}
                            {{#if this.givenAway}}
                            <span class="ml-2 text-secondary"><i> - Given away</i></span>
                            {{/if}}
                        </p> 
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/listings/{{this._id}}" class="btn btn-sm btn-outline-secondary">See more</a>
                                {{#if this.isAuthor}}
                                <a href="/listings/{{this._id}}/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
                                {{/if}}
                            </div>
                            <small class="text-muted">Wanted
                                <span class="badge badge-dark">
                                    {{this.wantedBy.length}}
                                </span>
                            </small>

                            {{#if this.isContacted}}
                            <small class="text-muted">
                                <span class="badge badge-pill badge-success">Success</span>
                            </small>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
            {{/unless}}
            {{#if emptyMessage}}

            <div class="col-12 text-center">
                {{emptyMessage}}
            </div>

            {{/if}}

        </div>
    </div>
</div>


<!-- Footer -->
<footer id="sticky-footer" class="py-4 bg-primary text-white-50">
    <div class="container text-center">
        <small>secondHome - made @ Ironhack by Stefano & Yuri</small>
    </div>
</footer>
<!-- /. Footer -->