<div class="d-flex justify-content-between">
  <p class="my-2 py-2 ml-2 pl-2">
    <a href="/listings"> Go back</a>
  </p>
</div>

<div class="container-fluid">
  <div class=" row">
    <div class="col-12 col-lg-7">
      <div class="card">
        {{#if isCreator}}
        <span class="my-2 py-2 mr-2 pr-2 d-flex justify-content-center">
          <form action="/listings/{{listing._id}}/edit-picture" method="POST" enctype="multipart/form-data"
            class="input-group w-75 h-75">
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="image" id="change-image-input">
              <label class="custom-file-label" for="change-image-input"> <span><i class="fas fa-pencil-alt"></i></span>
                Upload new image</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="upload-new-image">Submit</button>
            </div>
          </form>
        </span>

        {{/if}}

        <div id="carouselControls" class="carousel slide my-1 py-1" data-ride="carousel">
          <div class="carousel-inner">

            {{#each listing.imgPath}}
            <div class="carousel-item active">


              <a href="{{listing.imgPath}}"><img src="{{listing.imgPath}}" class="w-100 d-block img-fluid"
                  alt="{{listing.name}}" style="display: block;
              margin-left: auto;
              margin-right: auto;" id="listing-image"></a>
            </div>
            {{/each}}
          </div>
          <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <a href="{{listing.imgPath}}"><img src="{{listing.imgPath}}" class="card-img-top" alt="{{listing.name}}" style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;
                    {{#if listing.givenAway}}
                    filter: grayscale(100%);
                    {{/if}}
                    ">
        </a>
        <div class="card-body d-flex flex-column">

          <div class="d-flex flex-row justify-content-between pl-2 mr-4 ml-2 pr-4">
            <div class="">
              <p class="text-info text-rigth">{{listing.listingType}}

                {{#if listing.givenAway}}
                <span class="text-danger ml-2">This item has already been given away</span>
                {{/if}}

              </p>

              <h5 class="card-title" {{#if listing.givenAway}} style="text-decoration: line-through;" {{/if}}>
                {{listing.name}} </h5>


            </div>


            <div class="text-center">

              <p class="card-text text-danger
                            {{#unless errorMessage}}
                            d-none
                            {{/unless}}
                            {{#if errorMessage}}
                            d-block
                            {{/if}}        
                            ">Error</p>

              {{#if isCreator}}

              <div class="d-flex flex-column">
                <div class="btn-group flex-row">
                  <a href="/listings/{{listing._id}}/edit" class="btn btn-sm btn-outline-secondary">EDIT</a>

                  <form action="/listings/{{listing._id}}/delete" class="btn-group" method="POST">
                    <button type="submit" class="btn btn-sm btn-outline-danger">DELETE</button>
                  </form>
                </div>
                <div class="d-flex justify-content-center">
                  <form action="/listings/{{listing._id}}/given-away" class="" method="POST">
                    <button type="submit"
                      class="px-3 btn btn-sm btn-outline-success {{#if listing.givenAway}}active px-4{{/if}}">
                      {{#unless listing.givenAway}}
                      GIVEN AWAY
                      {{/unless}}
                      {{#if listing.givenAway}}
                      GIVE AWAY
                      {{/if}}

                    </button>
                  </form>

                </div>
              </div>



              {{else}}
              <div>
                <form action="/listings/{{listing._id}}/wanted" method="post">
                  <input class="btn btn-primary
                  
                  {{#unless IsWantedByCurrentUser}}                  
                   " type="submit" value="I want this">
                  {{/unless}}

                  {{#if IsWantedByCurrentUser}}
                  active" type="submit" value="Wanted">
                  {{/if}}

                </form>
              </div>

              {{/if}}



              <p class="card-text pt-2 text-secondary">Wanted by {{wantedCount}} users</p>
            </div>
          </div>

          <div>
            <p class="card-text text-secondary pl-2 mr-4 ml-2 pr-4">
              <span>Posted {{postedAgo}}</span>
            </p>
          </div>

          <div>
            <hr>
            <p class="card-text pl-2 mr-4 ml-2 pr-4">
            <p><strong class="text-info">Description</strong></p>
            {{listing.description}}
            </p>
          </div>


          <div>

            <hr>
            <p><strong class="text-info">Location</strong></p>
            <p class="card-text">{{listing.location}}</p>
            <div id="static-location" lat={{listing.lat}} lng={{listing.lng}} class="d-none"></div>
            <div id="map-container" class="py-3 my-3"></div>
          </div>


        </div>
      </div>

    </div>

    <div class="col-12 col-lg-5 d-flex flex-column">
      <div class="card">
        <div class="card-body text-center">
          <div class="d-flex justify-content-center pt-1 mt-1 pb-2 mb-2">
            <img
              style="border-radius: 50%; width: 100px; height: 100px; display: block; margin-left: auto; margin-right: auto"
              src="{{listing.author.imgPath}}" alt="">
          </div>
          <h5 class="card-title
          
          {{#if isContacted}}
        
            text-warning
        
          {{/if}}
          
          "> <span class="">Posted by: </span>{{listing.author.username}} </h5>
          <p class="">in: <a class="text-info" href="/listings?category={{listing.category}}">{{listing.category}}
            {{#if listing.subCategory}}
            <span> > {{listing.subCategory}}</span>
            {{/if}}
            </a>
          </p>


          {{#if isContacted}}

          <span class="badge badge-pill badge-warning">You already contacted this user</span>

          {{/if}}

          {{#unless currentUser}}
          <p> <a href="/login">Login</a> or <a href="/signup">Signup</a> to contact this user!</p>
          {{/unless}}




          {{#unless isCreator}}
          {{#if currentUser}}

          {{#unless listing.pickupDate}}
          <div class="pt-5 mt-5">
            <hr>
            <p class="card-text pt-4 mt-4">It looks like the author didn't schedule a pickup date yet. Why don't you
              propose one and send an email to
              <span id="send-to"
                sendTo="{{listing.author.username}}"><strong>{{listing.author.username}}</strong></span>?</p>

            <form action="/send-email/{{listing.author._id}}" method="POST" class="form-signin ">

              <div class="input-group d-flex flex-column justify-content-center py-2 my-2">
                <label for="pickup-date" class="text-left">
                  <span class="text-success mr-2"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                  Schedule a pick-up <strong>date</strong>:
                </label>
                <input type="date" id="pickup-date" name="pickup-date" required>
                <input type="text" id="listing-name" listing="{{listing.name}}" class="d-none">
              </div>

              <div class="input-group d-flex flex-column justify-content-center py-2 my-2 text-left">
                <label for="message" class="text-left">
                  <span class="text-success mr-2"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  Write here your <strong>email</strong>:</label>
                <textarea name="message" class="message form-control" id="message" cols="20" rows="10"
                  class="text-left">
                  </textarea>
              </div>
              <div class="input-group d-flex flex-column justify-content-center py-2 my-2">
                <input type="submit" class="btn btn-primary" value="Send">
              </div>
            </form>

          </div>

          {{/unless}}

          {{#if listing.pickupDate}}

          <div class="pt-5 mt-5">
            <hr>
            <p class="card-text pt-4 mt-4">It looks like the author scheduled a pickup date for the

              <span id="pickupDateDefault" pickupDate="{{date listing.pickupDate "DD-MM-YYYY"}}">
                {{date listing.pickupDate "DD-MM-YYYY"}} </span>

              . Why don't you send an email to

              <span id="send-to"
                sendTo="{{listing.author.username}}"><strong>{{listing.author.username}}</strong></span>?</p>

            <form action="/send-email/{{listing.author._id}}" method="POST" class="form-signin ">
              <input type="date" id="default-date" value={{listing.pickupDate}} name="pickup-date" class="d-none">
              <input type="text" id="listing-name" listing="{{listing.name}}" class="d-none">
              <div class="input-group d-flex flex-column justify-content-center py-2 my-2 text-left">
                <label for="message" class="text-left">
                  <span class="text-success mr-2"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  Write here your <strong>email</strong>:</label>
                <textarea name="message" class="message form-control" id="message" cols="20" rows="10"
                  class="text-left"></textarea>
              </div>
              <div class="input-group d-flex flex-column justify-content-center py-2 my-2">
                <input type="submit" class="btn btn-primary" value="Send">
              </div>
            </form>

          </div>


          {{/if}}
          {{/if}}
          {{/unless}}
        </div>
      </div>
    </div>

  </div>
</div>

<script src="/javascripts/emailcompiler.js"></script>
<script src="/javascripts/static-location.js"></script>