<!-- Header -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light display-4">Second Home</h1>
        <p class="lead display-5">Give away the stuff you don't need anymore.</p>
        <p class=" display-5">{{#if currentUser}}Welcome {{currentUser.username}}! {{/if}}</p>

        {{#unless currentUser}}
        <a href="/signup" class="btn btn-primary">Get started</a>
        {{/unless}}

        {{#if currentUser}}
        <a href="/my-wanted-listings" class="btn btn-secondary">Check your wishlist!</a>
        {{/if}}
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->

<section class="py-5 my-3">
  <div class="container">
    <h2 class="font-weight-light text-success"><span><i class="fas fa-seedling text-success"></i></span>Limiting waste
    </h2>
    <p>A platform for donating what no longer serves you, and for anyone that is looking (or just browsing) for a
      special
      something to get for free.
      <br>
      No personal cost + no environmental cost, and two happy parties.</p>
    <p>A platform for donating what no longer serves you, and for anyone that is looking (or just browsing) for a
      special
      something to get for free.
      <br>
      No personal cost + no environmental cost, and two happy parties.</p>
  </div>
</section>

<div class="jumbotron text-center bg-primary my-3">

  <h5 class="text-light display-5">The listing published on this website are <p class="display-4 count m-3 p-3 text-warning font-weight-bold">{{listings.length}}</p></h5>
  <p class="text-light">We arranged them in a few different fashions. Have fun while exploring!</p>

</div>



<div class="d-md-flex flex-md-equal w-100 my-md-4 pl-md-4">
  <div class="bg-info mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5 text-light">Want</h2>
      <p class="my-3 py-3 ml-4 pl-4"> <i>“As soon as you stop wanting something, you get it.”</i></p>
      <p class="mr-5 pr-5  mb-3 pb-3 text-right">- Andy Warhol</p>
      <a href="/listings/?listingType=Want" class="btn  btn-warning">See more</a>
    </div>
    {{!-- <div class="bg-light shadow-sm mx-auto d-flex align-items-center justify-content-center"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div> --}}
  </div>

  <div class="bg-warning mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5 text-dark">Offer</h2>
      <p class="my-3 py-3 text-dark"> <i>“Earth provides enough to satisfy every man's needs, but not every man's
          greed.”</i></p>
      <p class="mr-4 pr-4 mb-3 pb-3 text-right text-dark">- Mahatma Gandhi</p>
      <a href="/listings/?listingType=Offer" class="btn btn-info">See more</a>
    </div>
    {{!-- <div class="bg-info shadow-sm mx-auto d-flex align-items-center justify-content-center"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div> --}}
  </div>
</div>

<section class="py-5 my-3">
  <div class="container">
    <h2 class="font-weight-light">Locations</h2>
    <p>Check where our available listings are.</p>
    <div id="map-container" class="py-3 my-3"></div>
  </div>
</section>


<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->


<div class="container marketing py-5 my-3">
  <h2 class="font-weight-light">Categories</h2>
  <p>These are the categories we currently have available.</p>
  <div class="row py-3 my-3">

    {{#each uniqueCategories}}
    {{#if this}}
    <div class="col-lg-4">
      <a href="/listings?category={{this}}">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>{{this}}</title>
          <rect width="100%" height="100%" fill="#5BC9B0" />
          <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="#F8F3DD">{{this}}</text>
        </svg>
      </a>
      {{!-- <h2 class="my-2 py-2">{{this}}</h2> --}}
    </div><!-- /.col-lg-4 -->
    {{/if}}
    {{/each}}
  </div><!-- /.row -->
</div>

{{#unless currentUser}}
<section class="pt-5 mt-5 pb-5 bg-primary">
  <div class="container text-center">
    <h2 class="font-weight-light">Still not convinced?</h2>
    <p class="text-light">It's easier than it seems. You're just one click away.</p>
    <div class="btn-group">
      <a href="/signup" class="btn btn-secondary">Create an account</a>
      <a href="/listings" class="btn btn-info">Check all listings</a>
    </div>
  </div>
</section>
{{/unless}}

{{#if currentUser}}
<section class="pt-5 mt-5 pb-5 bg-primary">
  <div class="container text-center">
    <h2 class="font-weight-light">Still here?</h2>
    <p class="text-light">There are so many things to do in this website.</p>

    <form action="/{{currentUser._id}}/destroy" class="btn-group" method="POST">
      <button type="submit" class="btn btn-danger p-4">Log out and destroy my account forever <br> with all the listings
        I posted <br>and all my beautiful memories</button>
    </form>


  </div>
</section>
{{/if}}


{{#each listings}}
<span class="d-none" loc="{{this.location}}" listId={{this.id}} lat={{this.lat}} lng={{this.lng}}></span>
{{/each}}


<!-- Footer -->
<footer id="sticky-footer" class="py-4 bg-primary text-white-50">
  <div class="container text-center">
    <small>secondHome - made @ Ironhack by Stefano & Yuri</small>
  </div>
</footer>
<!-- /. Footer -->

<script src="/javascripts/globalmap.js"></script>