<section class="jumbotron text-center">
  <div class="container">
    <h1>My wishlist</h1>
    <p class="lead text-muted">This is what you liked, are you going to pick anything up?</p>
    <p>
      <a href="/listings/add" class="btn btn-primary my-2">Add a new listing here!</a>
      <a href="/listings" class="btn btn-secondary my-2">Go back to the list</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      {{#unless emptyMessage}}
      {{#each listings}}


      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <figure class="figure">
            <img src="{{this.imgPath}}" class="card-img-top figure-img img-fluid rounded" style="width : 100%;
                        height: 15vw; 
                        object-fit: cover;" alt="{{this.name}}">
            <figcaption class="d-flex justify-content-between mt-3 mx-3 px-1">
              <figcaption class="figure-caption d-inline text-warning">
                <span>{{date this.created_at "DD-MM-YYYY"}}</span>
                <span> at </span>
                <span>{{date this.created_at "HH:MM"}}</span>
              </figcaption>
              <figcaption class="d-inline figure-caption text-right text-info">{{this.listingType}}
              </figcaption>

            </figcaption>
          </figure>

          <div class="card-body">
            <p class="card-text">{{this.name}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/listings/{{this._id}}" class="btn btn-sm btn-outline-secondary">See more</a>
                {{#if this.isAuthor}}
                <a href="/listings/{{this._id}}/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
                {{/if}}
              </div>
              <small class="text-muted">Wanted
                <span class="badge badge-secondary">
                  {{this.wantedBy.length}}
                </span>
              </small>
            </div>
          </div>
        </div>
      </div>

      {{/each}}
      {{/unless}}

      {{#if emptyMessage}}

      <div class="col-12 text-center d-flex flex-column justify-content-center align-items-center">
        {{emptyMessage}}

        <a href="/listings?listingType=Offer" class="btn btn-info my-3 py-3">Check all Offer listings</a>
      </div>

      {{/if}}

    </div>
  </div>
</div>